<section class="ftco-section goto-here">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">Sunduklarımız</span>
                <h2 class="mb-2">Size Özel Fırsatlar</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="property-wrap ftco-animate">
                    <a href="#" class="img" style="background-image: url(/uptown/images/work-1.jpg);"></a>
                    <div class="text">
                        <p class="price"><span class="old-price">₺8.000.000</span><span class="orig-price">₺35.050<small>/Ay</small></span></p>
                        <ul class="property_list">
                            <li><span class="flaticon-bed"></span>3</li>
                            <li><span class="flaticon-bathtub"></span>2</li>
                            <li><span class="flaticon-floor-plan"></span>150 m2</li>
                        </ul>
                        <h3><a href="#">Mavi Gökyüzü Evi</a></h3>
                        <span class="location">Kadıköy, İstanbul</span>
                        <a href="#" class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate">
                    <a href="#" class="img" style="background-image: url(/uptown/images/work-2.jpg);"></a>
                    <div class="text">
                        <p class="price"><span class="old-price">₺5.500.000</span><span class="orig-price">₺28.050<small>/Ay</small></span></p>
                        <ul class="property_list">
                            <li><span class="flaticon-bed"></span>3</li>
                            <li><span class="flaticon-bathtub"></span>2</li>
                            <li><span class="flaticon-floor-plan"></span>140 m2</li>
                        </ul>
                        <h3><a href="#">Doğa İle İç İçe Konak</a></h3>
                        <span class="location">Beşiktaş, İstanbul</span>
                        <a href="#" class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="property-wrap ftco-animate">
                    <a href="#" class="img" style="background-image: url(/uptown/images/work-3.jpg);"></a>
                    <div class="text">
                        <p class="price"><span class="old-price">₺4.200.000</span><span class="orig-price">₺20.000<small>/Ay</small></span></p>
                        <ul class="property_list">
                            <li><span class="flaticon-bed"></span>3</li>
                            <li><span class="flaticon-bathtub"></span>2</li>
                            <li><span class="flaticon-floor-plan"></span>120 m2</li>
                        </ul>
                        <h3><a href="#">Modern Şehir Dairesi</a></h3>
                        <span class="location">Şişli, İstanbul</span>
                        <a href="#" class="d-flex align-items-center justify-content-center btn-custom">
                            <span class="ion-ios-link"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
