<section class="ftco-section testimony-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Müşteri Yorumları</span>
                <h2 class="mb-3">Mutlu Müşteriler</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">Sundukları harika hizmetle hayalimizdeki eve çok kısa sürede kavuştuk. Ekip gerçekten profesyonel ve çok ilgiliydi!</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(/uptown/images/person_1.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Ahmet Yılmaz</p>
                                        <span class="position">Pazarlama Müdürü</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">Bizimle olan iletişimleri harikaydı, hiçbir sorumuz yanıtsız kalmadı. Herkese tavsiye ediyorum.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(/uptown/images/person_2.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Ayşe Demir</p>
                                        <span class="position">Öğretmen</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">Tüm prosedürlerle bizim yerimize ilgilendiler. Stressiz bir ev alma süreci geçirmemizi sağladılar.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(/uptown/images/person_3.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Emre Çelik</p>
                                        <span class="position">Mimar</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="text">
                                <p class="mb-4">Sabit fiyat garantisi vermeleri bize büyük güven verdi. Yeni evimize geçtiğimiz için çok mutluyuz.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(/uptown/images/person_1.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Burak Şahin</p>
                                        <span class="position">Yazılım Uzmanı</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
