<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <span class="subheading">Hizmetlerimiz</span>
                <h2 class="mb-2">Ev Almanın En Akıllı Yolu</h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-piggy-bank"></span></div>
                    <div class="media-body py-md-4">
                        <h3>Peşinatsız Fırsatlar</h3>
                        <p>Size en uygun fırsatlarla, esnek ödeme koşullarıyla ev sahibi olmanın avantajlarını yaşayın.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-wallet"></span></div>
                    <div class="media-body py-md-4">
                        <h3>Nakit Ödeme İndirimi</h3>
                        <p>Peşin alımlarda sunulan özel indirimler ve avantajlardan hemen faydalanın.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-file"></span></div>
                    <div class="media-body py-md-4">
                        <h3>Uzmanlar Yanınızda</h3>
                        <p>Deneyimli ekibimiz tüm satın alma sürecinizde yanınızda ve sorularınızı yanıtlamaya hazır.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center"><span class="flaticon-locked"></span></div>
                    <div class="media-body py-md-4">
                        <h3>Sabit Fiyat Garantisi</h3>
                        <p>Fırsat özellikli fiyatları sabitleyerek sürprizlerle karşılaşmadan güvenle yatırım yapın.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
