@using RealEstate.WebUILayer.DTOs.ServiceDTOs
@model UpdateServiceDTO
@{
    ViewData["Title"] = "UpdateService";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<main class="h-full pb-16 overflow-y-auto">
    <div class="container px-6 mx-auto grid">
        <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
            Hizmet Güncelle
        </h2>

        <form method="post" action="/Admin/Service/UpdateService">
            
            <input type="hidden" name="ServiceId" value="@Model.ServiceId" />

            <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">

                <label class="block text-sm">
                    <span class="text-gray-700 dark:text-gray-400">Açıklama</span>
                    <textarea name="ServiceDescription"
                              class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray rounded-md border-gray-300 shadow-sm"
                              rows="4"
                              placeholder="Hizmet açıklaması giriniz..."
                              required>@Model.ServiceDescription</textarea>
                </label>

                <label class="block mt-4 text-sm">
                    <span class="text-gray-700 dark:text-gray-400">İkon Class (örn: fas fa-home)</span>
                    <input type="text"
                           name="ServiceIcon"
                           value="@Model.ServiceIcon"
                           class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input rounded-md border-gray-300 shadow-sm"
                           placeholder="İkon class bilgisini giriniz..."
                           required />
                </label>

                <div class="mt-6">
                    <button type="submit"
                            class="px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                        Güncelle
                    </button>
                    <a href="/Admin/Service/Index"
                       class="ml-2 px-4 py-2 text-sm font-medium leading-5 text-gray-700 transition-colors duration-150 border border-gray-300 rounded-lg hover:bg-gray-100 focus:outline-none focus:shadow-outline-gray dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:text-gray-300">
                        İptal ve Geri Dön
                    </a>
                </div>

            </div>
        </form>

    </div>
</main>
