<section class="ftco-section ftco-no-pt">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Blog</span>
                <h2>Güncel Yazılar</h2>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <div class="text">
                        <h3 class="heading"><a href="#">Emlak Yatırımında Nelere Dikkat Edilmeli?</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">Temmuz 24, 2024</a></div>
                            <div><a href="#">Yönetici</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <a href="blog-single.html" class="block-20 img" style="background-image: url('/uptown/images/image_1.jpg');">
                        </a>
                        <p>Doğru lokasyonda ve doğru zamanda yatırım yapmak, gelecekte karlı çıkmanın en önemli adımıdır.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <div class="text">
                        <h3 class="heading"><a href="#">Konut Kredisi Faiz Oranları Düşüyor Mu?</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">Temmuz 24, 2024</a></div>
                            <div><a href="#">Yönetici</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <a href="blog-single.html" class="block-20 img" style="background-image: url('/uptown/images/image_2.jpg');">
                        </a>
                        <p>Son yılların en avantajlı faiz oranlarıyla hayalinizdeki eve sahip olmak için hemen harekete geçin.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <div class="text">
                        <h3 class="heading"><a href="#">Ev Satın Almadan Önce Sorulması Gerekenler</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">Temmuz 24, 2024</a></div>
                            <div><a href="#">Yönetici</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <a href="blog-single.html" class="block-20 img" style="background-image: url('/uptown/images/image_3.jpg');">
                        </a>
                        <p>Ev almadan önce doğru soruları sorarak sorunsuz bir tapu süreci ve yaşam alanı yaratabilirsiniz.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <div class="text">
                        <h3 class="heading"><a href="#">Ofis Yatırımlarında Değerlenen Bölgeler</a></h3>
                        <div class="meta mb-3">
                            <div><a href="#">Temmuz 24, 2024</a></div>
                            <div><a href="#">Yönetici</a></div>
                            <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                        </div>
                        <a href="blog-single.html" class="block-20 img" style="background-image: url('/uptown/images/image_4.jpg');">
                        </a>
                        <p>İstanbul'un gelişen ilçelerindeki iş merkezi projeleri, yatırımcılara yüksek getiri vaat ediyor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
