@using RealEstate.WebUILayer.DTOs.AboutDTOs
@model ResultAboutDTO
<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/uptown/images/about.jpg);">
            </div>
            <div class="col-md-6 wrap-about py-md-5 ftco-animate">
                <div class="heading-section p-md-5">
                    <h2 class="mb-4">@Model.AboutTitle</h2>

                    <p>@Model.AboutDescription</p>
                </div>
            </div>
        </div>
    </div>
</section>
