<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(/uptown/images/about.jpg);">
            </div>
            <div class="col-md-6 wrap-about py-md-5 ftco-animate">
                <div class="heading-section p-md-5">
                    <h2 class="mb-4">Önce İnsan Diyoruz.</h2>

                    <p>Müşterilerimizin memnuniyeti ve ihtiyaçları bizim için her zaman önceliklidir. Yılların verdiği deneyimle size en kaliteli hizmeti sunmak için profesyonelce çalışıyoruz. Sorularınıza anında cevap veren uzmanlarımızla daima yanınızdayız.</p>
                    <p>Emlak piyasasında doğru yatırım yapmak her ne kadar zor gibi gözükse de; dürüst iletişim ve şeffaflık ilkelerimiz sayesinde tüm süreci keyifli ve kolay bir hale getiriyoruz. Amacımız sadece ev satmak değil, size yeni bir yaşam alanı kazandırmaktır.</p>
                </div>
            </div>
        </div>
    </div>
</section>
